<div class="outletHeading">
    <h3> Trayectos del usuario </h3>
</div>
<div class="card">
    <div class="card-body filters-card">
        <div>
            <span class="text">Ciudad</span>
            <p-dropdown [options]="( cities | async)" [(ngModel)]="currentCity" (onChange)="changeCurrentCity($event.value)"
            optionLabel="name" [style]="{'width':'16em'}"></p-dropdown>
        </div>

        <div>
            <span class="text">Fechas</span>
            <p-calendar [(ngModel)]="filterDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"
            [style]="{'width':'16em'}"></p-calendar>
        </div>
        <div>
            <span class="text">Cantidad ({{ paginationLimit }})</span>
            <p-slider [(ngModel)]="paginationLimit" [min]="0" [max]="10" [step]="1" [style]="{'width':'16em'}"></p-slider>
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="fetchUserTracks()">Buscar</button>
        </div>
    </div>
    <div class="divider"></div>
    <div class="card-body">
        <p-gmap #gmap (onMapReady)="setMap($event)" [overlays]="( currentTrack | async )" [style]="{'width':'100%','height':'400px'}">
        </p-gmap>
        <div class="prev-next">
            <button type="button" class="btn btn-warning" [disabled]="( getTrackIndex() === 0 )" (click)="changeTrackIndex(-1)">ant.</button>
            <button type="button" class="btn btn-warning" [disabled]="( getTrackIndex() === (paginationLimit - 1) )" (click)="changeTrackIndex(1)">sig.</button>
        </div>
    </div>
</div>








