<div class="outletHeading">
  <h3>{{ 'titles.user_edit' | translate}}: {{ userName }}</h3>
</div>

<form [formGroup]="editForm" (submit)="onSubmit()">

  <div class="card">
    <div class="card-header">
      <h3 class="outletFormH3">Panel de edición</h3>
    </div>
    <div class="card-body">

      <h4 class="outletFormH4 margin20">Datos del usuario</h4>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputUser">{{'general.user' | translate}}</label>
          <input type="text" id="inputUser" formControlName="user" class="form-control">
          <div class="text-danger" *ngIf="f.user.hasError('required') && (f.user.dirty || f.user.touched)">
            {{'general.field' | translate}} {{'general.user' | translate}} {{'messages.errors.required' | translate}}
          </div>
          <div class="text-danger" *ngIf="f.user.hasError('email') && (f.user.dirty || f.user.touched)">
            {{'messages.errors.invalid_email' | translate}}
          </div>
        </div>
        <div class="col">
          <label for="inputPassword">{{'general.password' | translate}}</label>
          <input type="password" id="inputPassword" formControlName="password" class="form-control">
          <div class="text-danger" *ngIf="f.password.hasError('required') && (f.password.dirty || f.password.touched)">
            {{'general.field' | translate}} {{'general.password' | translate}} {{'messages.errors.required' | translate}}
          </div>
        </div>
        <div class="col">
          <label for="inputConfirmPassword">{{'messages.confirm_password' | translate}}</label>
          <input type="password" id="inputConfirmPassword" formControlName="confirmPassword" class="form-control">
          <div class="text-danger" *ngIf="f.confirmPassword.hasError('match') && (f.confirmPassword.dirty || f.confirmPassword.touched)">
            {{'messages.errors.confirm_password' | translate}}
          </div>
        </div>
        <div class="col">
          <label for="inputProviderStatus">{{'general.user_color' | translate}}</label>
          <p-colorPicker formControlName="color" class="d-block"></p-colorPicker>
        </div>
      </div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputName">{{'general.name' | translate}}</label>
          <input type="text" id="inputName" formControlName="name" class="form-control">
        </div>
        <div class="col">
          <label for="inputEmail">{{'general.email' | translate}}</label>
          <input type="email" id="inputEmail" formControlName="email" class="form-control">
        </div>
      </div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputPhone">{{'general.phone' | translate}}</label>
          <input type="text" id="inputPhone" formControlName="phone" class="form-control">
        </div>
        <div class="col">

        </div>
      </div>

      <div class="form-separator"></div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputAddress">{{'general.address' | translate}}</label>
          <input type="text" id="inputAddress" formControlName="address" class="form-control">
        </div>
        <div class="col">
          <label for="inputCity">{{'general.city' | translate}}</label>
          <input type="text" id="inputCity" formControlName="city" class="form-control">
        </div>
      </div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputProvince">{{'general.province' | translate}}</label>
          <input type="text" id="inputProvince" formControlName="province" class="form-control">
        </div>
        <div class="col">
          <label for="inputCountry">{{'general.country' | translate}}</label>
          <input type="text" id="inputCountry" formControlName="country" class="form-control">
        </div>
      </div>

      <div class="form-separator"></div>

      <h4 class="outletFormH4 margin20">{{ 'general.comments' | translate}}</h4>
      <div class="row form-group paddedSides">
        <div class="col">
          <label>Comentarios del usuario</label>
          <p-editor formControlName="contact_data" [style]="{'height':'320px'}"></p-editor>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <button type="submit" [disabled]="editForm.invalid" class="btn btn-primary m-1 pull-right">{{ 'general.save' | translate}}</button>
      <button type="button" class="btn btn-success m-1 pull-right" (click)="goBack()">{{ 'general.return' | translate}}</button>
    </div>
  </div>

</form>

<p-confirmDialog header="Confirmation" appendTo="body" [closable]=false icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>
