.card {
    background-color: var(--background-dark);
    color: var(--lightGray);

    .row.form-group {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-footer button {
        float: right;
        margin: 0px 4px;
    }
}
