<div class="outletHeading">
    <h3>{{ 'titles.user_edit' | translate}}: {{ nickName }}</h3>
</div>

<form [formGroup]="editForm" (submit)="onSubmit()">

    <div class="card">
        <div class="card-header">
            <h4>{{'titles.user_data' | translate}} </h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col">
                    <label for="inputUser">{{'general.user' | translate}}</label>
                    <input type="text" id="inputUser" formControlName="username" class="form-control">
                    <div class="text-danger"
                        *ngIf="f.username.hasError('required') && (f.username.dirty || f.username.touched)">
                        {{'general.field' | translate}} {{'general.user' | translate}}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
                <div class="col">
                    <label for="inputNick">{{'general.nick' | translate}}</label>
                    <input type="text" id="inputNick" formControlName="nickname" class="form-control">
                    <div class="text-danger"
                        *ngIf="f.nickname.hasError('required') && (f.nickname.dirty || f.nickname.touched)">
                        {{'general.field' | translate}} {{'general.nick' | translate}}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <label for="inputPassword">{{'general.password' | translate}}</label>
                    <input type="password" id="inputPassword" formControlName="password" class="form-control">
                    <div class="text-danger"
                        *ngIf="f.password.hasError('required') && (f.password.dirty || f.password.touched)">
                        {{'general.field' | translate}} {{'general.password' | translate}}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
                <div class="col">
                    <label for="inputConfirmPassword">{{'messages.confirm_password' | translate}}</label>
                    <input type="password" id="inputConfirmPassword" formControlName="confirmPassword"
                        class="form-control">
                    <div class="text-danger"
                        *ngIf="f.confirmPassword.hasError('match') && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                        {{'messages.errors.confirm_password' | translate}}
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <label for="inputEmail">{{'general.email' | translate}}</label>
                    <input type="email" id="inputEmail" formControlName="email" class="form-control">
                    <div class="text-danger" *ngIf="f.email.hasError('email') && (f.email.dirty || f.email.touched)">
                        {{'messages.errors.invalid_email' | translate}}
                    </div>
                </div>
                <div class="col">
                    <label for="inputSex">{{'general.gender' | translate}}</label>
                    <input type="text" id="inputSex" formControlName="sex" class="form-control">
                    <div class="text-danger" *ngIf="f.sex.hasError('required') && (f.sex.dirty || f.sex.touched)">
                        {{'general.field' | translate}} {{'general.gender' | translate}}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
                <div class="col">
                    <label for="inputYearofbirth">{{ 'titles.birth_year' | translate }}</label>
                    <input type="text" id="inputYearofbirth" formControlName="yearofbirth" class="form-control">
                    <div class="text-danger"
                        *ngIf="f.yearofbirth.hasError('required') && (f.yearofbirth.dirty || f.yearofbirth.touched)">
                        {{'general.field' | translate}} {{ 'titles.birth_year' | translate }}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
            </div>

            <h4 class="outletFormH4 margin20">{{'titles.device_data' | translate}}</h4>

            <div formGroupName="smartphone" class="row form-group">
                <div class="col">
                    <label>{{'general.brand' | translate}}</label>
                    <input type="text" formControlName="brand" class="form-control">
                    <div class="text-danger" *ngIf="f.smartphone.get('brand').hasError('required') &&
                        (f.smartphone.get('brand').dirty || f.smartphone.get('brand').touched)">
                        {{'general.field' | translate}} {{'general.brand' | translate}}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
                <div class="col">
                    <label>{{'general.model' | translate}}</label>
                    <input type="text" formControlName="model" class="form-control">
                    <div class="text-danger" *ngIf="f.smartphone.get('model').hasError('required') &&
                            (f.smartphone.get('model').dirty || f.smartphone.get('model').touched)">
                        {{'general.field' | translate}} {{'general.model' | translate}}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
            </div>

            <h4 class="outletFormH4 margin20">{{'titles.vehicle_data' | translate}} </h4>

            <div formGroupName="car" class="row form-group">
                <div class="col">
                    <label>{{'general.brand' | translate}}</label>
                    <input type="text" formControlName="brand" class="form-control">
                    <div class="text-danger" *ngIf="f.car.get('brand').hasError('required') &&
                            (f.car.get('brand').dirty || f.car.get('brand').touched)">
                        {{'general.field' | translate}} {{'general.brand' | translate}}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
                <div class="col">
                    <label>{{ 'general.model' | translate }}</label>
                    <input type="text" formControlName="model" class="form-control">
                    <div class="text-danger" *ngIf="f.car.get('model').hasError('required') &&
                                (f.car.get('model').dirty || f.car.get('model').touched)">
                        {{'general.field' | translate}} {{ 'general.model' | translate }}
                        {{'messages.errors.required' | translate}}
                    </div>
                </div>
                <div class="col">
                        <label for="inputYear">{{ 'general.year' | translate }}</label>
                        <input type="text" id="inputYear" formControlName="year" class="form-control">
                        <div class="text-danger" *ngIf="f.car.get('model').hasError('required') &&
                                    (f.car.get('year').dirty || f.car.get('year').touched)">
                            {{'general.field' | translate}} {{ 'general.year' | translate }}
                            {{'messages.errors.required' | translate}}
                        </div>
                    </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" [disabled]="editForm.invalid"
                class="btn btn-primary m-1 pull-right">{{ 'general.save' | translate}}</button>
            <button type="button" class="btn btn-success m-1 pull-right"
                (click)="goBack()">{{ 'general.return' | translate}}</button>
        </div>
    </div>

</form>

<p-confirmDialog header="Confirmation" appendTo="body" [closable]=false icon="pi pi-exclamation-triangle" width="425">
</p-confirmDialog>
<!-- TODO: change it for a PrimeNG toast component -->
<!-- <p-growl [(value)]="msgs"></p-growl> -->
