app-navbar {
    position: sticky;
    height: 15vh;
    padding: 0px 10px;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-between;
    background-color: var(--mainBlue);

    .navbar-left, .navbar-right, .profile-area, .buttons-area, .link-item {
        display: flex;
    }

    .navbar-left, .navbar-right, .profile-area, .buttons-area {
        flex-direction: row;
    }

    .navbar-left, .navbar-right, .profile-area, .buttons-area {
        align-items: center;
    }

    .navbar-left {
        width: 400px;
        .profile-area {
            padding-left: 20px;
            width: 250px;
        }
    }

    .fa {
        color: white;
        font-size: 25px;
        margin: 0px 10px;
    }

    .profileImage {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--protossPylon);
    }

    .nav-text {
        margin-left: 20px;
        color: var(--lightGray);
        text-transform: uppercase;
    }

    @media screen and (max-width: 968px) {
        height: 25vh;
    }
}

