app-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 8px 18px;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: space-between;
    background: var(--mainPink);

    .navbar-left, .navbar-right, .profile-area, .buttons-area, .link-item {
        display: flex;
    }

    .navbar-left, .navbar-right, .profile-area, .buttons-area {
        flex-direction: row;
        align-items: center;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 42px;
    }

    .profile-area {
        width: 16vw;
    }

    .profileImage {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url('./../../../../assets/img/animal.png');
        background-size: cover;
    }

    .nav-text {
        margin-left: 20px;
        color: var(--lightGray);
        text-transform: uppercase;
        cursor: default;
    }
}

