<div class="navbar-left">
    <div class="profile-area">
        <span class="profileImage cursor-pointer" #fsbutton (click)="gotoProfile()"
            matTooltip="{{'titles.user_edit' | translate}}">
        </span>
        <span class="nav-text cursor-default"> {{ userName }}</span>
    </div>
    <div class="buttons-area">
        <span class="link-item cursor-pointer">
            <a #fsbutton (click)="collapseSidebar()" matTooltip="{{'messages.collapse_sidebar' | translate}}">
                <em class="fa fa-navicon"></em>
            </a>
        </span>
        <span class="link-item cursor-pointer">
            <a #fsbutton (click)="goHome()" matTooltip="{{'titles.home' | translate}}">
                <em class="fa fa-home"></em>
            </a>
        </span>
    </div>
</div>
<div class="navbar-right">
    <mat-button-toggle-group name="langs" aria-label="languages" class="mr-4">
        <mat-button-toggle *ngFor="let lang of langs" [value]="lang.value" (click)="changeLang(lang.value)">{{ lang.label }}</mat-button-toggle>
    </mat-button-toggle-group>

    <span class="link-item cursor-pointer">
        <a #fsbutton (click)="logout()" matTooltip="{{'general.exit' | translate}}">
            <em class="fa fa-sign-out"></em>
        </a>
    </span>
</div>
