
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navBarHeigth);
    padding: 0px 10px;
    background-color: var(--mainBlue);
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .4);
    justify-content: space-between;
}

.navbar, .navbar-left, .navbar-right, .profile-area, .buttons-area, .link-item {
    display: flex;
}

.navbar, .navbar-left, .navbar-right, .profile-area, .buttons-area {
    flex-direction: row;
}

.navbar-left, .navbar-right, .profile-area, .buttons-area {
    align-items: center;
}

// REFACTOR: demasiado estilo repetido entre navbar/sidebar/home
// TODO: ver como puedo desacoplar a styles a var global y que funque

// Initially: the "FIRST" has the same width as the sidebar...
// Then we should change it

.navbar-left {
    width: 400px;
    .profile-area {
        padding-left: 20px;
        width: 250px;
    }
}

.fa {
    color: white;
    font-size: 25px;
    margin: 0px 10px;
}

.profileImage {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--protossPylon);
}

.nav-text {
    margin-left: 20px;
    color: var(--lightGray);
    text-transform: uppercase;
}
