<div class="content">
    <div class="outletHeading">
        <h3> {{ 'titles.sumarized_data' | translate }} </h3>
    </div>
    <div class="filters-card">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'titles.sumarization_type' | translate }}</mat-label>
            <mat-select [value]="typesSubject.value" (selectionChange)="onTypeChange($event.value)">
                <mat-option *ngFor="let type of types" [value]="type.value"> {{ type.label | translate }} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'general.city' | translate }}</mat-label>
            <mat-select [value]="citySubject.value" (selectionChange)="onCityChange($event.value)">
                <mat-option *ngFor="let city of ( cities | async )" [value]="city"> {{ city.name }} </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="divider"></div>
    <div class="map-content">
        <mat-chip-list *ngIf="colorItems.length" aria-label="road segments severity">
            <span class="mr-4"> {{ 'titles.classification' | translate }}: </span>
            <mat-chip [ngStyle]="{'backgroundColor': item.background }" *ngFor="let item of colorItems">
                {{ ('chips.' + item.text) | translate }}
            </mat-chip>
        </mat-chip-list>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="fetchData()">{{ 'general.search' | translate }}</button>
        </div>
        <agm-map
            [style]="{'width':'100%','height':'30vw'}"
            [latitude]="currentMapOptions?.center.lat"
            [longitude]="currentMapOptions?.center.lng"
            [zoom]="12">

            <agm-polyline *ngFor="let p of ( polylines | async )"
                [visible]="true"
                [strokeColor]="p.strokeColor"
                [strokeOpacity]="p.strokeOpacity"
                [strokeWeight]="p.strokeWeight">

                <agm-polyline-point
                    *ngFor="let coord of p.path"
                    [latitude]="coord.lat"
                    [longitude]="coord.lng">
                </agm-polyline-point>
        </agm-polyline>
        </agm-map>
        <br>
        <span>{{ 'titles.sumarization_date' | translate }}: {{ ( sumarizationDate | async ) }}</span>
    </div>
</div>
