<div class="outletHeading">
    <h3>{{ 'titles.tools' | translate }}</h3>
</div>
<div class="admin-tools">
    <button type="button" class="btn btn-warning" (click)="sumarize()">
        {{ 'titles.execute_sumarization' | translate }}
        <span class="fa fa-puzzle-piece"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="predict()">
        {{ 'titles.predict_roads' | translate }}
        <span class="fa fa-road"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="predict(true)">
        {{ 'titles.predict_anomalies' | translate }}
        <span class="fa fa-flag"></span>
    </button>
</div>
<!-- TODO: change it for a PrimeNG toast component -->
<!-- <p-growl [(value)]="msgs"></p-growl> -->

