.admin-tools {
    height: 30vh;
    display: flex;
    flex-direction: row;
    flex-grow: 3;

    button {
        margin: 3px;
        padding: 75px;
        border-radius: 1px;
        flex-grow: 1;
        font-size: 1vw;
        font-weight: normal;
        color: var(--background-dark);
        mat-icon {
            margin-left: 2px;
        }
    }
    button:not(.mat-button-disabled) {
        background-color: var(--mainLightBlue);
    }
}
