<div class="admin-tools">
    <button type="button" class="btn btn-primary" (click)="sumarize()">
        Ejecutar sumarización
        <span class="fa fa-puzzle-piece"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="predict()">
        Predecir caminos
        <span class="fa fa-cogs"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="predict(true)">
        Predecir anomalías
        <span class="fa fa-cogs"></span>
    </button>
</div>

