<div class="outletHeading">
    <h3>{{ 'titles.tools' | translate }}</h3>
</div>
<div class="admin-tools">
    <button mat-raised-button (click)="sumarize()">
        {{ 'titles.execute_sumarization' | translate }}
        <mat-icon>functions</mat-icon>
    </button>
    <button mat-raised-button (click)="predict()">
        {{ 'titles.execute_prediction_roads' | translate }}
        <mat-icon>psychology</mat-icon>
    </button>
    <button mat-raised-button (click)="predict(true)">
        {{ 'titles.execute_prediction_anomalies' | translate }}
        <mat-icon>psychology</mat-icon>
    </button>
</div>
