.admin-tools {
    height: 30vh;
    display: flex;
    flex-direction: row;
    flex-grow: 3;

    button {
        margin: 3px;
        flex-grow: 1;
        font-size: 1vw;
        &.btn-warning, &.btn-warning .fa{
            color: var(--blueNights);
        }
    }
}
