<div class="body text-center">
    <form [formGroup]="loginForm" (submit)="onSubmit()" class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal">{{'app.name' | translate}}</h1>

        <label for="inputUser" class="sr-only">{{'general.user' | translate}}</label>
        <input type="text" id="inputUser" formControlName="username" class="form-control"
            placeholder="{{'general.user' | translate}}" autocomplete="off" required autofocus>
        <div class="text-danger" *ngIf="f.username.hasError('required') && (f.username.dirty || f.username.touched)">
            {{'general.field' | translate}} {{'general.user' | translate}} {{'messages.errors.required' | translate}}
        </div>

        <label for="inputPassword" class="sr-only">{{'general.PASSWORD' | translate}}</label>
        <input type="password" id="inputPassword" formControlName="password" class="form-control"
            placeholder="{{'general.password' | translate}}" required>
        <div class="text-danger" *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
            {{'general.field' | translate}} {{'general.password' | translate}}
            {{'messages.errors.required' | translate}}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="badCredentials">
            {{'messages.errors.bad_credentials' | translate}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="loginError">
            {{'messages.errors.login_error' | translate}}
        </div>

        <button mat-button mat-raised-button color="primary" type="submit" [disabled]="(loginForm.invalid || loading)">{{'titles.login' | translate}}</button>
        <p class="mt-5 mb-3">&copy; 2021</p>
    </form>
</div>
