.body {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    background-color: var(--background-dark);

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;

        .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-control:focus {
            z-index: 2;
        }

        input, button {
            margin: 10px 0px;
        }
    }
}
