app-home {
    .content {
        display: flex;
        flex-direction: row;
        height: calc(100% - 64px);

        // TODO: Take a look at this... test this
        @media screen and (max-width: 968px) {
            height: 88vh;
        }
        .outlet {
            padding: 40px;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            transition: width .75s ease;
            transition: left .75s ease;
            background-color: var(--background-dark);
        }
    }
}
