app-home {
    display: flex;
    flex-direction: column;
    .content {
        display: flex;
        flex-direction: row;
    }
    .outlet {
        padding: 40px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: width .75s ease;
        transition: left .75s ease;
    }
}
