.content {
    display: flex;
    flex-direction: column;
    background-color: var(--background-dark);
    color: var(--lightGray);

    .filters-card {
        display: flex;
        flex-direction: column;

        >div {
            width: 40%;
            @media screen and (max-width: 1023px) {
                width: 100%;
            }
            padding: 5px;
            display: inline-flex;
            justify-content: space-between;
        }

        .text {
            margin-right: 10px;
            display: inline;
            font-size: 1.5vs;
            font-weight: 400;
        }
    }

    .divider {
        border: 1px solid var(--lightGray);
        margin: 10px 0px 10px 0px;
    }

    .map-content {
        margin: 10px 0px 25px 0px;
        .buttons {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-end;

            >:last-child {
                margin-left: 10px;
            }
        }
    }
}
