<div class="outletHeading">
    <h1>{{ 'titles.dashboard' | translate }}</h1>
</div>
<div class="dashboard">
    <button type="button" class="btn btn-warning" (click)="navigateTo('/user/tracks')" [disabled]="_auth.isAdmin()">
        {{ 'titles.my_tracks' | translate }}
        <span class="fa fa-car"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="navigateTo('/sumarized-tracks')">
        {{ 'titles.sumarized_tracks' | translate }}
        <span class="fa fa-globe"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="navigateTo('/user/edit')" [disabled]="_auth.isAdmin()">
        {{ 'titles.user_edit' | translate }}
        <span class="fa fa-pencil"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="navigateTo('/admin/reparations')" [disabled]="!_auth.isAdmin()">
        {{ 'titles.reparations' | translate }}
        <span class="fa fa-wrench"></span>
    </button>
    <button type="button" class="btn btn-warning" (click)="navigateTo('/admin/tools')" [disabled]="!_auth.isAdmin()">
        {{ 'titles.tools' | translate }}
        <span class="fa fa-cogs"></span>
    </button>
</div>
