<div class="outletHeading">
    <h1>{{ 'titles.dashboard' | translate }}</h1>
</div>
<div class="dashboard">
    <button mat-raised-button (click)="navigateTo('/user/tracks')" [disabled]="_cookies.hasAdminLevel()">
        {{ 'titles.my_tracks' | translate }}
        <mat-icon>emoji_transportation</mat-icon>
    </button>
    <button mat-raised-button (click)="navigateTo('/sumarized-tracks')">
        {{ 'titles.sumarized_data' | translate }}
        <mat-icon>analytics</mat-icon>
    </button>
    <button mat-raised-button (click)="navigateTo('/user/edit')">
        {{ 'titles.user_edit' | translate }}
        <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-raised-button (click)="navigateTo('/admin/reparations')" [disabled]="_cookies.isRegularUser()">
        {{ 'titles.reparations' | translate }}
        <mat-icon>edit_road</mat-icon>
    </button>
    <button mat-raised-button (click)="navigateTo('/admin/tools')" [disabled]="_cookies.isRegularUser()">
        {{ 'titles.tools' | translate }}
        <mat-icon>build</mat-icon>
    </button>
</div>
