.sidebar {
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
        background: var(--blue-nights);
        transition: width 0.3s ease-out 0.3s;
        background-color: var(--menu-dark);

        &.hide {
            width: 0;
        }

        &.show {
            width: 17vw;
        }

        mat-nav-list {
            width: 100%;
            padding-top: 25px;
            font-weight: 200;
        }

        mat-icon,
        label {
            color: white;
            cursor: pointer;
        }

        label {
            padding-left: 12px;
        }
    }

    // TODO: This responsive rules should be added after completing the mat-list
    @media screen and (max-width: 968px) {
        .show {
            width: 25vw;
        }
    }

    @media screen and (max-width: 640px) {
        .ui-menuitem-icon,
        .ui-menuitem-text,
        .ui-submenu-header {
            font-size: x-small !important;
        }
    }

    @media screen and (min-width: 641px) and (max-width: 1050px) {
        .ui-menuitem-icon,
        .ui-menuitem-text,
        .ui-submenu-header {
            font-size: small !important;
        }
    }

    @media screen and (min-width: 1051px) {
        .ui-menuitem-icon,
        .ui-menuitem-text,
        .ui-submenu-header {
            font-size: initial !important;
        }
    }
