app-sidebar {
    .sidebar {
        box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3) inset;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;

        background-color: var(--blueNights);
        transition: width .75s ease;

        &.hide {
            width: 0;
        }

        &.show {
            width: 17vw;
        }

        p-menu {
            width: 100%;
            padding-top: 25px;
            font-weight: 200;
            >div {
                width: 100%;
            }
            ul {
                list-style-type: none;
            }

            .ui-menu,
            .ui-menuitem,
            .ui-submenu-header {
                border: none;
                padding: 0;
                margin: 0;
                background: transparent;
            }

            .ui-widget-header,
            .ui-menuitem {
                color: white;
            }

            .ui-menuitem-link {
                border-radius: 1px;
                padding: 15px 15px;
                color: white;
                span.ui-menuitem-text {
                    padding-left: 5px;
                }
            }
            .ui-state-active {
                background-color: var(--protossPylon);
            }
            .ui-menuitem-link:hover {
                background-color: var(--chainGray) !important;
            }
        }

        @media screen and (max-width: 968px) {
            &.show {
                width: 25vw;
            }
        }

        @media screen and (max-width: 640px) {

            .ui-menuitem-icon {
                font-size: x-small !important;
            }

            .ui-menuitem-text {
                font-size: x-small !important;
            }

            .ui-submenu-header {
                font-size: x-small !important;
            }
        }

        @media screen and (min-width: 641px) and (max-width: 1050px) {

            .ui-menuitem-icon {
                font-size: small !important;
            }

            .ui-menuitem-text {
                font-size: small !important;
            }

            .ui-submenu-header {
                font-size: small !important;
            }
        }

        @media screen and (min-width: 1051px) {


            .ui-menuitem-icon {
                font-size: initial !important;
            }

            .ui-menuitem-text {
                font-size: initial !important;
            }

            .ui-submenu-header {
                font-size: initial !important;
            }
        }
    }
}
