<div class="outletHeading">
  <h3>{{ 'views.providers.form.EDIT_PROFILE' | translate}}: {{ userName }}</h3>
</div>

<form [formGroup]="editForm" (submit)="onSubmit()">

  <div class="card">
    <div class="card-header">
      <h3 class="outletFormH3">{{ 'views.providers.form.PANEL_HEADING' | translate}}</h3>
    </div>
    <div class="card-body">

      <h4 class="outletFormH4 margin20">{{ 'views.reservations.form.CLIENT_DATA' | translate}}</h4>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputUser">{{'general.USER' | translate}}</label>
          <input type="text" id="inputUser" formControlName="user" class="form-control">
          <div class="text-danger" *ngIf="f.user.hasError('required') && (f.user.dirty || f.user.touched)">
            {{'general.FIELD' | translate}} {{'general.USER' | translate}} {{'general.errors.REQUIRED' | translate}}
          </div>
          <div class="text-danger" *ngIf="f.user.hasError('email') && (f.user.dirty || f.user.touched)">
            {{'general.errors.VALID_EMAIL' | translate}}
          </div>
        </div>
        <div class="col">
          <label for="inputPassword">{{'general.PASSWORD' | translate}}</label>
          <input type="password" id="inputPassword" formControlName="password" class="form-control">
          <div class="text-danger" *ngIf="f.password.hasError('required') && (f.password.dirty || f.password.touched)">
            {{'general.FIELD' | translate}} {{'general.PASSWORD' | translate}} {{'general.errors.REQUIRED' | translate}}
          </div>
        </div>
        <div class="col">
          <label for="inputConfirmPassword">{{'general.CONFIRM_PASSWORD' | translate}}</label>
          <input type="password" id="inputConfirmPassword" formControlName="confirmPassword" class="form-control">
          <div class="text-danger" *ngIf="f.confirmPassword.hasError('match') && (f.confirmPassword.dirty || f.confirmPassword.touched)">
            {{'general.errors.CONFIRM_PASSWORD_MSG' | translate}}
          </div>
        </div>
        <div class="col">
          <label for="inputProviderStatus">{{'general.PROFILE_COLOR' | translate}}</label>
          <p-colorPicker formControlName="color" class="d-block"></p-colorPicker>
        </div>
      </div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputName">{{'general.NAME' | translate}}</label>
          <input type="text" id="inputName" formControlName="name" class="form-control">
        </div>
        <div class="col">
          <label for="inputEmail">{{'general.EMAIL' | translate}}</label>
          <input type="email" id="inputEmail" formControlName="email" class="form-control">
        </div>
      </div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputPhone">{{'views.reservations.form.CLIENT_PHONE' | translate}}</label>
          <input type="text" id="inputPhone" formControlName="phone" class="form-control">
        </div>
        <div class="col">
          <label for="inputPhoneEmergency">{{'general.PHONE_EMERGENCY' | translate}}</label>
          <input type="text" id="inputPhoneEmergency" formControlName="phone_emergency" class="form-control">
        </div>
      </div>

      <div class="form-separator"></div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputAddress">{{'general.ADDRESS' | translate}}</label>
          <input type="text" id="inputAddress" formControlName="address" class="form-control">
        </div>
        <div class="col">
          <label for="inputCity">{{'general.CITY' | translate}}</label>
          <input type="text" id="inputCity" formControlName="city" class="form-control">
        </div>
      </div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputProvince">{{'general.PROVINCE' | translate}}</label>
          <input type="text" id="inputProvince" formControlName="province" class="form-control">
        </div>
        <div class="col">
          <label for="inputCountry">{{'general.COUNTRY' | translate}}</label>
          <input type="text" id="inputCountry" formControlName="country" class="form-control">
        </div>
      </div>

      <div class="form-separator"></div>

      <div class="row form-group paddedSides">
        <div class="col">
          <label for="inputCif">CIF</label>
          <input type="text" id="inputCif" formControlName="cif" class="form-control">
        </div>
        <div class="col">
          <label for="inputIVA">{{'general.IVA' | translate}}</label>
          <input type="number" size="2" id="inputIVA" formControlName="iva_tax" class="form-control">
        </div>
        <div class="col">
          <label for="inputWeb">{{'general.WEB' | translate}}</label>
          <input type="text" id="inputWeb" formControlName="web" class="form-control">
        </div>
      </div>

      <div class="form-separator"></div>

      <h4 class="outletFormH4 margin20">{{ 'views.reservations.form.COMMENTS' | translate}}</h4>
      <div class="row form-group paddedSides">
        <div class="col">
          <label>{{'views.reservations.form.CLIENT_DATA' | translate}}</label>
          <p-editor formControlName="contact_data" [style]="{'height':'320px'}"></p-editor>
        </div>
      </div>

    </div>

    <div class="card-footer">
      <button type="submit" [disabled]="editForm.invalid" class="btn btn-primary m-1 pull-right">{{ 'general.SAVE_DATA' | translate}}</button>
      <button type="button" class="btn btn-success m-1 pull-right" (click)="goBack()">{{ 'general.RETURN' | translate}}</button>
    </div>
  </div>

</form>

<p-confirmDialog header="Confirmation" appendTo="body" [closable]=false icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>
