<h1>Reportar reparaciones</h1>

<div class="dropdown-row">
    <span>Por favor, escoja una ciudad</span>
    <p-dropdown [options]="( cities | async)" [(ngModel)]="currentCity" (onChange)="changeCurrentCity($event.value)" optionLabel="name"></p-dropdown>
</div>
<br>
<div>
    <p-gmap #gmap (onMapReady)="setMap($event)" [overlays]="overlays" (onMapClick)="handleMapClick($event)" [style]="{'width':'100%','height':'240px'}">
    </p-gmap>
</div>

<div class="button-panel">
    <button type="button" class="btn btn-success" [disabled]="( markersPlaced.value  < 2 )" (click)="resetLastReparation()"> Reset </button>
    <button type="button" class="btn btn-success ml-2" [disabled]="( markersPlaced.value  < 2 )" (click)="postNewReparation()"> Reportar reparación </button>
</div>

