:root {

    // Dark theme: shades
    --menu-dark: #181818;
    --background-dark: #212121;
    --hover-dark: #3D3D3D;
    --primary-text-dark: #FFFFFF;
    --secondary-text-dark: #AAAAAA;

    // Color to replace
    --lightGray: rgb(230, 230, 230, 1);
    --lightGray2: rgb(191, 191, 191);
    --formBorderGray: rgba(0, 0, 0, .15);
    --bootstrapGreen: rgba(40, 167, 69, 1);
    --bootstrapYellow: rgba(255, 193, 7, 1);

    // Roads
    --aqua: #00ffff;
    --lime: #00ff00;
    --yellow: #ffff00;
    --red: #ff0000;

    // British palette
    --blueNights: #353b48;
    --chainGray: #718093;
    --protossPylon: #00a8ff;
    --vanadylBlue: #0097e6;
}


/* Cuerpo principal */

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1,
h2,
h3,
h5 {
    color: var(--lightGray);
}

/* General */

.cursor-pointer {
    cursor: pointer;
}

.outletHeading {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--lightGray);
}

.btn-transparent {
    background-color: transparent;
}

.formCheckBox {
    width: 30px !important;
    height: 30px !important;
}

.form-separator {
    border-bottom: 1px solid var(--formBorderGray);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Overridings */

.ui-datepicker-header.ui-widget-header {
    color: initial;
}

.ui-datepicker-buttonbar .ui-button {
    background-color: var(--bootstrapGreen) !important;
    color: white !important;
}

.ui-dropdown .ui-dropdown-trigger {
    color: var(--shuttleBlue);
}

/* Bootstrap buttons */

button.btn-primary {
    background-color: var(--vanadylBlue);
}

// TODO: ver estos estilos y aplicar al confirmDialog custom de Material que implementé
/*confirmDialog */

.ui-dialog .ui-widget-header {
    color: initial;
}

.input-block-level {
    border: 1px solid var(--chainGray);
    border-radius: 2px;
}

/* GMap */
agm-map {
    button.gm-control-active {
        background: var(--bootstrapYellow) !important;
    }
}

/* scrollbar */

::-webkit-scrollbar {
    border-left: 1px solid var(--lightGray2);
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--vanadylBlue);
    border-radius: 1px;

    &:hover {
        background: var(--protossPylon);
    }
}
