@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

:root {

    // Dark theme: shades
    --menu-dark: #282c36;
    --background-dark: #353b48;
    --hover-dark: #3D3D3D;
    --primary-text-dark: #FFFFFF;
    --secondary-text-dark: #AAAAAA;

    // Main color palette

    --mainPink: #e91e63;
    --mainPinkDark: #c2185b;
    --mainLightBlue: #00e7ff;

    // Colors to replace
    --lightGray: rgb(230, 230, 230, 1);
    --lightGray2: rgb(191, 191, 191);
    --formBorderGray: rgba(0, 0, 0, .15);

    // British palette
    --chainGray: #718093;
    --protossPylon: #00a8ff;
    --vanadylBlue: #0097e6;
}


/* Main overridings */

html, body {
    height: 100%;
    color: white !important;
    background: transparent !important;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1,
h2,
h3,
h5 {
    color: var(--lightGray);
}

/* General */

.cursor-pointer {
    cursor: pointer;
}

.outletHeading {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--lightGray);
}

.form-separator {
    border-bottom: 1px solid var(--formBorderGray);
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider {
    border: 1px solid var(--lightGray);
    margin: 10px 0px 10px 0px;
}

/* Numeric inputs */

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* scrollbar */

::-webkit-scrollbar {
    border-left: 1px solid var(--lightGray2);
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--mainPink);
    border-radius: 1px;

    &:hover {
        background: var(--mainPinkDark);
    }
}
