// TODO: probably adding the themes would fix the visual issues
/* @import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css'; */
@import '~primeicons/primeicons.css';

:root {
    --mainBlue: rgb(1, 54, 98, 1);
    --mainGreen: rgb(196, 214, 0, 1);
    --lightGray: rgb(230, 230, 230, 1);
    --lightGray2: rgb(191, 191, 191);
    --formBorderGray: rgba(0, 0, 0, .15);
    --bootstrapGreen: rgba(40, 167, 69, 1);
    --bootstrapYellow: rgba(255, 193, 7, 1);
    --teal: rgba(0, 128, 128, 1);
    --orchid: rgba(209, 95, 238, 1);
    --darkOrchid: rgba(196, 47, 233, 1);

    /* Roads */

    --aqua: #00ffff;
    --lime: #00ff00;
    --yellow: #ffff00;
    --red: #ff0000;

    /* British palette */
    --nasturciaorange: #e84118;
    --harleyOrange: #c23616;
    --blueNights: #353b48;
    --chainGray: #718093;
    --protossPylon: #00a8ff;
    --vanadylBlue: #0097e6;
    --mazarineBlue: #273c75;
    --seaBrook: #487eb0;
    --seaBrook: #487eb0;
}


/* Cuerpo principal */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
}

h1,
h2,
h3,
h5 {
    color: var(--lightGray);
}

/* General */

.cursor-pointer {
    cursor: pointer;
}

.outletHeading {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--lightGray);
}

.btn-transparent {
    background-color: transparent;
}

.formCheckBox {
    width: 30px !important;
    height: 30px !important;
}

.form-separator {
    border-bottom: 1px solid var(--formBorderGray);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Overridings */

.ui-datepicker-header.ui-widget-header {
    color: initial;
}

.ui-datepicker-buttonbar .ui-button {
    background-color: var(--bootstrapGreen) !important;
    color: white !important;
}

.ui-dropdown .ui-dropdown-trigger {
    color: var(--shuttleBlue);
}

/* Bootstrap buttons */

button.btn-primary {
    background-color: var(--vanadylBlue);
}
/*confirmDialog */

.ui-dialog .ui-widget-header {
    color: initial;
}

.input-block-level {
    border: 1px solid var(--chainGray);
    border-radius: 2px;
}

/* GMap */
p-gmap {
    button.gm-control-active {
        background: var(--bootstrapYellow) !important;
    }
}

/* scrollbar */

::-webkit-scrollbar {
    border-left: 1px solid var(--lightGray2);
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--vanadylBlue);
    border-radius: 1px;

    &:hover {
        background: var(--protossPylon);
    }
}
