<div class="content">
    <div class="outletHeading">
        <h3>{{ 'titles.reparations' | translate }}</h3>
    </div>
    <div class="filters-card">
        <div>
            <span class="text">{{ 'general.city' | translate }}</span>
            <p-dropdown [options]="( cities | async)" [(ngModel)]="currentCity"
            (onChange)="changeCurrentCity($event.value)" optionLabel="name" [style]="{'width':'16em'}"></p-dropdown>
        </div>
        <div>
            <span class="text">{{ 'general.date' | translate }}</span>
            <p-calendar [(ngModel)]="dateFilter" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="2000:2030" dateFormat="dd/mm/yy" [readonlyInput]="true" [showIcon]="true"></p-calendar>
        </div>
    </div>
    <div class="map-content">
        <div class="prev-next">
            <button type="button" class="btn btn-warning" [disabled]="( markersPlaced.value  < 2 )"
                (click)="resetLastReparation()"> Reset </button>
            <button type="button" class="btn btn-warning" [disabled]="( markersPlaced.value  < 2 )"
                (click)="postNewReparation()"> {{ 'general.save' | translate }} </button>
        </div>
        <p-gmap #gmap (onMapReady)="setMap($event)" (onOverlayClick)="overlayClicked($event)" [overlays]="overlays" (onMapClick)="handleMapClick($event)"
            [style]="{'width':'100%','height':'240px', 'border': '1px solid var(--lightGray2)'}">
        </p-gmap>
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>
