<div class="content">
    <div class="outletHeading">
        <h3>{{ 'titles.reparations' | translate }}</h3>
    </div>
    <div class="filters-card">
        <div>
            <span class="text">{{ 'general.city' | translate }}</span>
            <mat-form-field appearance="fill">
                <mat-label>{{ 'general.city' | translate }}</mat-label>
                <mat-select [value]="citySubject.value" (selectionChange)="onCityChange($event.value)">
                    <mat-option *ngFor="let city of ( cities | async )" [value]="city"> {{ city.name }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <span class="text">{{ 'general.date' | translate }}</span>
            <mat-form-field appearance="fill">
                <mat-label>{{ 'titles.select_date' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" [value]="dateSubject.value" (dateInput)="onDateChange($event)"
                    (dateChange)="onDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="map-content">
        <div class="prev-next">
            <button mat-raised-button color="accent"
                [disabled]="( markersPlaced.value  < 2 )"
                (click)="resetLastReparation()">Reset</button>
            <button mat-raised-button color="primary"
                [disabled]="( markersPlaced.value  < 2 )"
                (click)="postNewReparation()">{{ 'general.save' | translate }}</button>
        </div>
        <agm-map
            [style]="{'width':'100%','height':'30vw'}"
            [latitude]="currentMapOptions?.center.lat"
            [longitude]="currentMapOptions?.center.lng"
            [zoom]="12"
            (mapReady)="mapReadyHandler($event)">
                <agm-polyline *ngFor="let p of polylines"
                    [visible]="true"
                    [strokeColor]="p.strokeColor"
                    [strokeOpacity]="p.strokeOpacity"
                    [strokeWeight]="p.strokeWeight"
                    (lineClick)="overlayClicked(p)">

                        <agm-polyline-point
                            *ngFor="let coord of p.path"
                            [latitude]="coord.lat"
                            [longitude]="coord.lng">
                        </agm-polyline-point>
                </agm-polyline>

                <agm-marker
                    *ngFor="let m of markers"
                    [latitude]="m.lat"
                    [longitude]="m.lng">
                </agm-marker>
        </agm-map>
    </div>
</div>
